@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.listaProductos {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;
    padding: 0;
    margin-bottom: 40px;

    .listacard {
        height: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 40px;
    }

    li {
        width: calc(50% - 20px);
        /* Ancho del 50% menos el espacio entre las imágenes */
        flex-grow: 1;
        /* Permite que las imágenes se expandan para ocupar todo el espacio disponible */
        width: 100%;
        /* Establece un ancho máximo para las imágenes */
        list-style: none;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.order {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    .orderby {
        font-size:large;
        width: 40%;
        border: none; 
        background-color: transparent; 
        padding: 0; 
        margin: 0; 
    }
    
    .orderasc {
        margin-left: 30px;
        font-size:large;
        width: 40%;
        border: none; 
        background-color: transparent; 
        padding: 0; 
        margin: 0; 
        margin-left: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    .listaProductos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        
    }

    .listaProductos ul {
        width: 100%;
    }

    .listaProductos li {
        width: calc(20% - 20px);
        margin: 10px;
    }
}
