@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.pagination {
    gap: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: right;


    .prev-button {
        width: 150px;
        height: 30px;
        padding: 50px;
        font-size:large;
        border: none; 
        background-color: transparent; 
        padding: 0; 
        margin: 0; 
        font-size: large;
      }
      
      .next-button {
        width: 150px;
        height: 30px;
        padding: 50px;
        font-size:large;
        border: none; 
        background-color: transparent; 
        padding: 0; 
        margin: 0; 
        font-size: large;
      }
      
}