@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.details {
    width: 90%;
    height: auto;
    height: auto;
    display: wrap;
    flex-direction: wrap;
    justify-content: center;
    gap: 5px;
    border: 2px solid $black;
    margin-top: 50px;
    margin-left: 20px;

    h3 {
      padding: 15px;
    }

    img {
        width: 300px;
        margin-bottom: 10px;
        padding-left: 15px;
    }

    p {
        margin-bottom: 10px;
        padding-left: 15px;
    }

}

.currentpage {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 50px;

    .buttonDetails {
        height: 50px;
        border: none; 
        background-color: transparent; 
        padding: 50px; 
        margin: 0; 
        font-size: large;
        text-align: right;
        font-weight: bold;
}
}

.fabricante {
    width: 90%;
    height: auto;
    height: auto;
    display: wrap;
    flex-direction: wrap;
    justify-content: center;
    gap: 5px;
    border: 2px solid $black;
    margin-top: 50px;
    margin-left: 20px;
    padding:10px;
}